@model IEnumerable<CustomerModel>
<a asp-action="Create" asp-controller="Customer" class="btn btn-success" >Add Customer</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Title</th>
            <th>Address</th>
            <th>City</th>
            <th>RegionId</th>
            <th>PostalCode</th>
            <th>Country</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Name</td>
                <td>@m.Title</td>
                <td>@m.Address</td>
                <td>@m.City</td>
                <td>@m.RegionId</td>
                <td>@m.PostalCode</td>
                <td>@m.Country</td>
                <td>@m.Phone</td>
            </tr>
        }
    </tbody>
</table>
