@model IEnumerable<SupplierModel>
<a asp-action="Create" asp-controller="Supplier" class="btn btn-success" >Add Supplier</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>CompanyName</th>
            <th>ContactName</th>
            <th>ContactTitle</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.CompanyName</td>
                <td>@m.ContactName</td>
                <td>@m.ContactTitle</td>
                <td>@m.Phone</td>
                <td><a asp-action="Info" asp-controller="Supplier" asp-route-id="@m.Id"  class="btn btn-info">Info</a>&nbsp<a asp-action="Edit" asp-controller="Supplier" asp-route-id="@m.Id"  class="btn btn-primary">Edit</a>&nbsp<a class="btn bg-danger" asp-action="Delete" asp-controller="Supplier" asp-route-id="@m.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
