@model SupplierModel

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>CompanyName</th>
            <th>ContactName</th>
            <th>ContactTitle</th>
            <th>Address</th>
            <th>City</th>
            <th>Region</th>
            <th>PostalCode</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.CompanyName</td>
            <td>@Model.ContactName</td>
            <td>@Model.ContactTitle</td>
            <td>@Model.Address</td>
            <td>@Model.City</td>
            <td>@ViewData["MyRegion"]</td>
            <td>@Model.PostalCode</td>
            <td>@Model.Country</td>
            <td>@Model.Phone</td>
            <td><a asp-action="Index" asp-controller="Supplier"  class="btn btn-primary">Back</a></td>
        </tr>
    </tbody>
</table>