@model IEnumerable<ProductModel>
<a asp-action="Create" asp-controller="Product" class="btn btn-success" >Add Product</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>QuantityPerUnit</th>
            <th>UnitPrice</th>
            <th>UnitsInStock</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Name</td>
                <td>@m.QuantityPerUnit</td>
                <td>@m.UnitPrice</td>
                <td>@m.UnitsInStock</td>
            </tr>
        }
    </tbody>
</table>

