ProductModel

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Supplier</th>
            <th>Category</th>
            <th>QuantityPerUnit</th>
            <th>UnitPrice</th>
            <th>unitsInStock</th>
            <th>UnitsOnOrder</th>
            <th>ReorderLevel</th>
            <th>Discontinued</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Supplier.CompanyName</td>
            <td>@Model.Category.Name</td>
            <td>@Model.QuantityPerUnit</td>
            <td>@Model.UnitPrice</td>
            <td>@Model.UnitsInStock</td>
            <td>@Model.UnitsOnOrder</td>
            <td>@Model.ReorderLevel</td>
            <td>@Model.Discontinued</td>
            <td><a asp-action="Index" asp-controller="Product"  class="btn btn-primary">Back</a></td>
        </tr>
    </tbody>
</table>
